@import "../../styles/repsonsive.scss";

.chartbox {
  display: flex;
  height: 100%;
  @include sm {
    flex-direction: column;
  }

  .boxInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3;

    @include sm {
      gap: 20px;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 10px;

      @include xxl {
        fonts: 14px;
      }
    }

    h1 {
      @include xxl {
        fonts: 20px;
      }
    }
  }
  .chartInfo {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;

    .chart {
      height: 100%;
      width: 100%;
    }
    .texts {
      display: flex;
      flex-direction: column;
      text-align: right;

      .percentage {
        font-weight: bold;
        font-size: 20px;
        @include xxl {
          fonts: 16px;
        }
      }
      .duration {
        font-size: 14px;
      }
    }
  }
}
